@import "tailwindcss";
body{
    margin: 0px;
    background-color: white;
}

.zoom-85{
  zoom: 0.85;
}


@keyframes loadingBar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-loadingBar {
  width: 50%;
  animation: loadingBar 1.2s ease-in-out infinite;
}
