@import "tailwindcss";
body{
    margin: 0px;
    background-color: white;
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.zoom-85{
  zoom: 0.85;
}
.zoom-120{
	zoom: 1.2;
}


@keyframes loadingBar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-loadingBar {
  width: 50%;
  animation: loadingBar 1.2s ease-in-out infinite;
}
